Dear {{ name }},

<p>We wanted to let you know that a sign-in to your FriendHub account was detected from a new device from {{ country }}, {{ region }}, {{ city }} from {{ isp }} network. Your account security is important to us, so we wanted to alert you to this activity.</p>

<p>If this sign-in was you, you can disregard this email. However, if you didn't recently sign in from a new device, we recommend taking immediate action to secure your account.</p>


<p>Here are some steps you can take:</p>


<p>    Change Your Password: Consider changing your password immediately. Choose a strong and unique password to help protect your account from unauthorized access.</p>


<p>    Review Account Activity: Take a moment to review your recent account activity for any suspicious or unfamiliar logins. You can do this by visiting your account settings and checking the "Login Activity" section. (TODO: link here)</p>


<p>    Enable Two-Factor Authentication: Enhance the security of your account by enabling two-factor authentication (2FA). This adds an extra layer of protection by requiring a code in addition to your password to log in. (TODO: link here)</p>


<p>If you believe your account has been compromised or if you have any questions or concerns, please contact our support team immediately at support@friendhub.net.</p>


<p>Thank you for your attention to this matter. We're committed to keeping your account safe and secure.</p>


<p>Best regards,</p>
<p>The FriendHub Team</p>
