<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Social media" />
    <meta name="author" content="Radu-Alexandru Popa" />
    <meta name="description" content="Simple social media web application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link data-trunk rel="copy-dir" href="assets" /> -->
    <link rel="icon" type="image/x-icon" href="http://localhost/assets/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap" rel="stylesheet">
    <title>FriendHub</title>
<style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Bitter", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
        a:visited {
            color: white;
        }
        
        html {
            background-color: #2E294E;
        }
        
        ul {
            list-style: none;
        }
        p {
            margin: 1rem;
        }
        h1 {
            margin: 1rem;
            font-size: 28px;
            font-weight: 800;
        }
        
    </style>
</head>

<body style="background-color: #2E294E; color: white;">

<div style="display: flex; flex-direction: row;">
    <h1 style="color: #3b9180">FriendHub</h1>
</div>

<div style="width: 50%;">
    <p style="margin: 1rem">Dear {{ name }},</p>

<p>We received a request to reset your password for your FriendHub account. If you didn't make this request, you can ignore this email and your password will remain unchanged.</p>

<p>To reset your password, please click the button below. If the button doesn't work, you can copy and paste the following link into your browser:</p>

<p>For security reasons, this link will expire in 24 hours. If you need further assistance, please don't hesitate to contact our support team at support@friendhub.net.</p>

<p>Best regards,</p>
<p>The FriendHub Team</p>
</div>
</body>

</html>
