Dear {{ name }},

We received a request to reset your password for your FriendHub account. If you didn't make this request, you can ignore this email and your password will remain unchanged.

To reset your password, please click the button below. If the button doesn't work, you can copy and paste the following link into your browser:

[TODO: button here with link]

For security reasons, this link will expire in [TODO: X hours]. If you need further assistance, please don't hesitate to contact our support team at support@friendhub.net.

Best regards,
The FriendHub Team
